= simple_form_for :filter, url: admin_school_classes_path, method: :get do |f|
  = hidden_field_tag :search, params[:search]

  .col-xs-4
    = filter_by(f, :course, courses_by_university(current_university), t('.filters.by_course'))
  .col-xs-4
    = filter_by(f, :year, school_classes_years(current_university), t('.filters.by_year'), current_year)
  .col-xs-4
    = filter_by(f, :period, SchoolClass.localized_periods, t('.filters.by_period'))
