.col-xs-12
  = flash_message

.col-xs-12
  %h3
    = SchoolClass.model_name.human(count: 2)

= simple_form_for [:admin, school_class] do |f|
  .col-xs-12
    = f.error_notification

  .col-xs-6
    = f.input :name
  .col-xs-6
    = f.input :period, collection: SchoolClass.localized_periods,
        include_blank: t('select_option')

  .col-xs-6
    = f.input :course_id, collection: courses_by_university(current_university),
        include_blank: t('select_option')
  .col-xs-3
    = f.input :year
  .col-xs-3
    = f.input :vacancies
  .col-xs-12
    = save_button(f)
