= simple_form_for :search, url: admin_school_classes_path, method: :get, role: :search do |f|
  - filter_params = params.fetch(:filter, {}) || []

  = text_field_tag :search, params[:search], placeholder: t('search')
  = fields_for :filter do |ff|
    = ff.hidden_field :course, value: filter_params.fetch(:course, '')
    = ff.hidden_field :year, value: filter_params.fetch(:year, '')
    = ff.hidden_field :period, value: filter_params.fetch(:period, '')
