= javascript_include_tag javascript

.col-xs-12
  = flash_message

.col-xs-12
  = render_breadcrumb

.col-xs-12
  %h2
    = SchoolClass.model_name.human(count: 2)

= render_header_description(t('.description_text'))

= render 'header'

.col-xs-12
  = display_admin_responsive_table(SchoolClass, school_classes, fields)

.col-xs-12
  = paginate school_classes
