.col-xs-12
  Home

.col-xs-12
  = link_to 'Cursos', admin_courses_path
.col-xs-12
  = link_to 'Disciplinas', admin_disciplines_path
.col-xs-12
  = link_to 'Educadores', admin_educators_path
.col-xs-12
  = link_to 'Estudantes', admin_students_path
.col-xs-12
  = link_to 'Turmas', admin_school_classes_path
